<div class="users-container">
  <div class="header">
    <div>
      <h1 class="text-3xl font-bold text-gray-900 mb-2">Usuarios del Sistema</h1>
      <p class="text-base text-gray-500 mb-6">Gestiona los usuarios y sus permisos de acceso</p>
    </div>
    <app-button type="primary" size="md" (click)="createUpdateUser(null)">Nueva Usuario</app-button>
  </div>

  <div class="my-5">
    <app-table [columns]="columns" [data]="users" [isLoading]="isLoadingData"></app-table>
  </div>

  <app-pagination
    [pagination]="pagination"
    (pageChange)="onPageChange($event)">
  </app-pagination>