<div class="container">
  <div class="header">
    <div>
      <h1 class="text-3xl font-bold text-gray-900 mb-2">Usuarios del Sistema</h1>
      <p class="text-base text-gray-500 mb-6">Gestiona los usuarios y sus permisos de acceso</p>
    </div>
    <app-button styleType="primary" size="md" (click)="createUpdateUser(null)">Nueva Usuario</app-button>
  </div>

  <div class="my-5">
    <app-table [columns]="columns" [data]="users" [isLoading]="isLoadingData"></app-table>
  </div>

  <app-pagination
    [pagination]="pagination"
    (pageChange)="onPageChange($event)">
  </app-pagination>
</div>

<ng-template #confirmResetPasswordDialog>
  <h2 mat-dialog-title>Confirmación</h2>
  <mat-dialog-content>
    Está seguro de que desea restablecer la clave del usuario
    <strong>{{ selectedUser.name }}</strong>?
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <app-button styleType="secondary-outline" size="sm" mat-dialog-close="no">No</app-button>
    <app-button class="ml-3" styleType="danger" size="sm" mat-dialog-close="yes">Si</app-button>
  </mat-dialog-actions>
</ng-template>
