<div class="container">
  <div class="header">
    <h2>Rentas</h2>
    @if (isAdmin) {
      <button class="primary-button" (click)="createEditRental(null)">
        Nueva Renta
      </button>
    }
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Cliente</th>
          <th>Teléfono</th>
          <th>Fecha de Renta</th>
          <th>Fecha de Devolución</th>
          <th>Flete</th>
          <th>Descuento</th>
          <th>Precio Total</th>
          <th>Estado</th>
          <th>Creado por</th>
        </tr>
      </thead>
      <tbody>
        @for (rental of rentals; track $index) {
          <ng-container>
            <tr (click)="toggleDetails(rental)">
            <td>{{ rental.client.name }}</td>
            <td>{{ rental.client.phone }}</td>
            <td>{{ rental.start_date | date:'dd/MM/yyyy' }}</td>
            <td>{{ rental.end_date | date:'dd/MM/yyyy' }}</td>
            <td>{{ (rental.delivery_price | currency) || '-' }}</td>
            <td>{{ (rental.discount) || '-' }} {{ rental.discount > 0 ? '%' : '' }}</td>
            <td>$ {{ calculateTotalPrice(rental) | number:'1.2-2' }}</td>
            <td>
              <span class="status-badge" [ngClass]="getStatusClass(rental.status)">
                {{ rental.status | statusRentals }}
              </span>
            </td>
            <td>{{ rental.creator?.name }}</td>
            </tr>
            @if (rental.expanded) {
              <tr class="details-row">
                <td colspan="9">
                  <div class="details-content">
                    <div class="container-products-list">
                      <h3>Productos Rentados</h3>
                      <div class="button-group">
                        @if (rental.status !== 'completed' && isAdmin) {
                          <button class="secondary-button" (click)="createEditRental(rental)">
                            Editar
                          </button>
                        }
                        <button class="secondary-button" (click)="downloadInvoice(rental)">
                          Ver nota de entrega
                        </button>
                        @if (rental.status !== 'completed' && isAdmin) {
                          <button class="primary-button" (click)="rentalCompleted(rental)">
                            Completar renta
                          </button>
                        }
                      </div>
                    </div>
                    <table class="details-table">
                      <thead>
                        <tr>
                          <th>Producto</th>
                          <th>Descripción</th>
                          <th>Cantidad rentada</th>
                          <th>Precio</th>
                          <th>Total</th>
                        </tr>
                      </thead>
                      <tbody>
                        @for (item of rental.products; track $index) {
                          <tr>
                            <td>{{ item.name }}</td>
                            <td>{{ item.description }}</td>
                            <td>{{ item.rental_product?.quantity_rented }}</td>
                            <td>{{ item.price | currency}}</td>
                            <td>{{ ((item.price || 0) * (item.rental_product?.quantity_rented || 0)) | currency}}</td>
                          </tr>
                        }
                      </tbody>
                    </table>
                  </div>
                </td>
              </tr>
            }
          </ng-container>
        }
      </tbody>
    </table>
  </div>
</div>