<div class="container">
  <div class="header">
    <div>
      <h1 class="text-3xl font-bold text-gray-900 mb-2">Rentas</h1>
      <p class="text-base text-gray-500 mb-6">Gestiona todas las rentas de equipos y mobiliario</p>
    </div>
    @if (isAdmin) {
      <app-button type="primary" size="md" [routerLink]="['/rentals/new']">Nueva Renta</app-button>
    }
  </div>

  <div class="mb-5">
    @if (isLoading) {
      <div class="loading-spinner">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Cargando...</span>
        </div>
      </div>
    } @else if (rentals.length === 0) {
      <div class="loading-spinner">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">No hay resultados</span>
        </div>
      </div>
    } @else {
      <app-table [columns]="columns" [data]="rentals" ></app-table>
    }
  </div>

  <app-pagination
    [pagination]="pagination"
    (pageChange)="onPageChange($event)">
  </app-pagination>
</div>