
@if (pagination) {
  <div class="flex items-center justify-between p-4 bg-[#fff] border-2 border-[#E9EAE8] rounded-lg">
    <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
      <div>
        <p class="text-sm text-gray-700">
          Mostrando
          <span class="font-medium">{{ (pagination.currentPage - 1) * pagination.limit + 1 }}</span>
          a
          <span class="font-medium">
            {{
              pagination.currentPage * pagination.limit > pagination.total
                ? pagination.total
                : pagination.currentPage * pagination.limit
            }}
          </span>
          de
          <span class="font-medium">{{ pagination.total }}</span>
          resultados
        </p>
      </div>
      <div>
        <nav aria-label="Pagination" class="isolate inline-flex -space-x-px rounded-md shadow-xs">

          <!-- Botón Previous -->
          <button
            (click)="goToPage(pagination.currentPage - 1)"
            [disabled]="!pagination.hasPreviousPage"
            class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 inset-ring inset-ring-gray-300 hover:bg-gray-50 focus:z-20 cursor-pointer"
          >
            <span class="sr-only">Previous</span>
            <svg viewBox="0 0 20 20" fill="currentColor" class="size-5">
              <path d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z"/>
            </svg>
          </button>

          <!-- Números de página -->
           @for (page of [].constructor(pagination.totalPages); track $index; let i = $index) {
             <ng-container>
               <button
                 (click)="goToPage(i + 1)"
                 [ngClass]="{
                   'bg-[#E2E9B4] text-black z-10': pagination.currentPage === i + 1,
                   'text-gray-900 hover:bg-gray-50': pagination.currentPage !== i + 1
                 }"
                 class="relative inline-flex items-center px-4 py-2 text-sm font-semibold inset-ring inset-ring-gray-300 focus:z-20 cursor-pointer"
               >
                 {{ i + 1 }}
               </button>
             </ng-container>
           }

          <!-- Botón Next -->
          <button
            (click)="goToPage(pagination.currentPage + 1)"
            [disabled]="!pagination.hasNextPage"
            class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 inset-ring inset-ring-gray-300 hover:bg-gray-50 focus:z-20 cursor-pointer"
          >
            <span class="sr-only">Next</span>
            <svg viewBox="0 0 20 20" fill="currentColor" class="size-5">
              <path d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z"/>
            </svg>
          </button>

        </nav>
      </div>
    </div>
  </div>
}
