<mat-dialog-content>
  <div class="mb-4">
    <span class="flex items-center">
      <mat-icon class="icon mr-2 cursor-pointer" [svgIcon]="'package'"></mat-icon>
      <h2>{{modalTitle}}</h2>
    </span>
    <p class="text-sm text-[#6E7777]">
      {{modalSubTitle}}
    </p>
  </div>

  <div>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <app-input-field
          type="text"
          id="code"
          formControlName="code"
          label="Código"
          placeholder="Ingrese el código del producto"
        ></app-input-field>
        @if (productForm.get('code')?.invalid && productForm.get('code')?.touched) {
          <div class="text-xs text-red-500 mt-1">
            {{ getErrorMessage('code') }}
          </div>
        }
      </div>

      <div class="mb-3">
        <app-input-field
          type="text"
          id="name"
          formControlName="name"
          label="Nombre del producto"
          placeholder="Ingrese el nombre del producto"
        ></app-input-field>
        @if (productForm.get('name')?.invalid && productForm.get('name')?.touched) {
          <div class="text-xs text-red-500 mt-1">
            {{ getErrorMessage('name') }}
          </div>
        }
      </div>

      <div class="mb-3">
        <app-input-field
          type="number"
          id="price"
          formControlName="price"
          label="Precio del producto"
          placeholder="Ingrese el precio"
        ></app-input-field>
        @if (productForm.get('price')?.invalid && productForm.get('price')?.touched) {
          <div class="text-xs text-red-500 mt-1">
            {{ getErrorMessage('price') }}
          </div>
        }
      </div>

      <div class="mb-3">
        <app-input-field
          type="number"
          id="total_quantity"
          formControlName="total_quantity"
          label="Cantidad total disponible"
          placeholder="Ingrese la cantidad"
        ></app-input-field>
        @if (productForm.get('total_quantity')?.invalid && productForm.get('total_quantity')?.touched) {
          <div class="text-xs text-red-500 mt-1">
            {{ getErrorMessage('total_quantity') }}
          </div>
        }
      </div>

      <div class="mb-3">
        <app-input-field
          type="textarea"
          id="description"
          formControlName="description"
          label="Descripción del producto"
          placeholder="Ingrese descripción del producto"
        ></app-input-field>
        @if (productForm.get('description')?.invalid && productForm.get('description')?.touched) {
          <div class="text-xs text-red-500 mt-1">
            {{ getErrorMessage('description') }}
          </div>
        }
      </div>

      <div class="flex mt-6 justify-end gap-2">
        <app-button size="md" styleType="secondary-outline" (click)="closeModal()">Cancelar</app-button>
        <app-button size="md" [disabled]="productForm.invalid" htmlType="submit">Guardar</app-button>
      </div>
    </form>
  </div>
</mat-dialog-content>