<aside class="sidebar" [class.collapsed]="isCollapsed">
  <div>
    <!-- Logo y título -->
    <div class="container-logo">
      <div class="container-icon">
        <mat-icon class="icon" [svgIcon]="'sparkles'"></mat-icon>
      </div>
      <div class="title">
        <h3>Festivity Hub</h3>
        <p>Sistema de Inventario</p>
      </div>
      <button class="toggle-btn" (click)="toggleSidebar()">
        @if(isCollapsed) {<mat-icon class="icon" [svgIcon]="'panel-right-close'"></mat-icon>}
        @else {<mat-icon class="icon" [svgIcon]="'panel-right-open'"></mat-icon>}
      </button>
    </div>

    <!-- Navegación -->
    <div class="navigation">
      <h4 class="nav-title">NAVEGACIÓN</h4>
      <ul class="menu-list">
        @for (item of menuItems; track item.route) {
          <li>
            <a routerLink="{{ item.route }}" routerLinkActive="active" class="menu-item">
              <mat-icon [svgIcon]="item.icon"></mat-icon>
              <span class="label">{{ item.name }}</span>
            </a>
          </li>
        }
      </ul>
    </div>
  </div>

  <div class="sidebar-footer">
    <div>
      <p style="text-align: center; margin-bottom: 10px;">Usuario: {{ user?.name }}</p>
    </div>

    <button class="nav-item logout-btn" (click)="logout()">
      <mat-icon class="icon" [svgIcon]="'log-out'"></mat-icon>
      <span class="label-log-out">Cerrar Sesión</span>
    </button>
  </div>
</aside>