<div class="container">
  <div class="header">
    <div>
      <h1 class="text-3xl font-bold text-gray-900 mb-2">Clientes</h1>
      <p class="text-base text-gray-500 mb-6">Gestiona la base de datos de todos tus clientes</p>
    </div>
  </div>
  <div>
    @if (isLoading) {
      <div class="loading-spinner">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Cargando...</span>
        </div>
      </div>
    } @else if (clients.length === 0) {
      <div class="loading-spinner">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">No hay resultados</span>
        </div>
      </div>
    } @else {
      <app-table [columns]="columns" [data]="clients" (action)="updateClient($event)"></app-table>
    }
  </div>
</div>