<div class="container">
  <div class="header">
    <h2>Clientes</h2>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Cédula</th>
          <th>Teléfono</th>
          <th>Total de rentas</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (client of clients; track $index) {
        <tr>
          <td>{{ client.name }}</td>
          <td>{{ client.dni }}</td>
          <td>{{ client.phone }}</td>
          <td>{{ client.rentalCount }}</td>
          <td>
            <button class="secondary-button" (click)="updateClient(client)">
              Editar
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>